<ion-header>
  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>Email</ion-label>
    <ion-input type="email" placeholder="Your email address" [(ngModel)]="loginEmail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>{{ "PASSWORD" | translate }}</ion-label>
    <ion-input type="password" placeholder="Your password" [(ngModel)]="loginPassword"></ion-input>
  </ion-item>
  <button ion-button block (click)="loginUser()" > Log In </button>
  <button ion-button block clear (click)="goToSignup()"> Create a new account </button>
  <button ion-button block clear (click)="goToResetPassword()"> I forgot my password :(</button>
</ion-content>
