<ion-header>
    <ion-toolbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Members</ion-title>
      <ion-fab top right slot="fixed" >
        <button ion-fab (click)="addItem()" color="secondary">
          <ion-icon name="add" ></ion-icon>
        </button>
      </ion-fab>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item-sliding *ngFor="let member of members; let i=index" #slideItem>
        <ion-item nopadding [ngClass]="i%2!=0 ? 'odd':'even'" (press)="longPressMember(member)">
          <ion-row>
            <ion-col col-1> {{i+1}} </ion-col>
            <ion-col col-4 >
              <ion-avatar slot="start">
                <img [src]="member.picURL" (error)="getMissingImage($event, member)">
              </ion-avatar>
            </ion-col>
            <ion-col col-7 text-wrap>
              <h2> {{member.fullName}}</h2>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editData(member, slideItem)">
            <ion-icon name="paper"></ion-icon>
          </button>
          <button ion-button color="danger" (click)="deleteData(member, slideItem)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content> 
  
  <ion-footer>
    <button *ngIf="filter.filter!==true" ion-button (click)="filterMember(0)">FILTER</button>
    <ion-row *ngIf="filter.filter">
      <ion-col col-5>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="filter.gender" placeholder="Select One">
          <ion-option value="a">All</ion-option>
          <ion-option value="F">Female</ion-option>
          <ion-option value="M">Male</ion-option>
        </ion-select>
      </ion-col>
      <!-- <ion-col col-2></ion-col> -->
      <ion-col col-5>
        <ion-label>Active</ion-label>
        <ion-select [(ngModel)]="filter.active" placeholder="Select One">
          <ion-option value='a'>All</ion-option>
          <ion-option value='1'>Active</ion-option>
          <ion-option value='0'>Inactive</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-2>
        <button ion-button (click)="filterMember(1)">APPLY</button>
      </ion-col>
    </ion-row>
  </ion-footer>
    