<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{objClass}}</ion-title>
    <ion-fab top right slot="fixed" >
      <button ion-fab (click)="addItem()" color="secondary">
        <ion-icon name="add" ></ion-icon>
      </button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf='objClass=="PARTICIPANTS"'>
    <ion-item-sliding *ngFor="let item of items.members; let i=index" #slideItem>
      <ion-item [ngClass]="i%2!=0 ? 'odd':'even'" (press)="contextMenu1(item.details)">
        <ion-row>
          <ion-col col-2 >
            <ion-avatar slot="start">
              <img [src]="item.details.picURL" (error)="getMissingImage($event, item.details)">
            </ion-avatar>
          </ion-col>
          <ion-col col-5 text-wrap>
            <h2> {{item.details.fullName}}</h2><br>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let tontine of items.tontines; let j=index">
          <b>{{tontine.uid}}</b>
          <ion-grid >
            <ion-row *ngFor="let cotiz of item.tontines[tontine.uid]; let k=index"  (press)="contextMenu2(i, j, k)">
              <ion-col col-1 align-self-start> <b>#{{k+1}}.</b> </ion-col>
              <ion-col col-3> [ {{cotiz.total / tontine.uid}} / {{ items.num_sessions }} ]  </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf='objClass=="CHARGES"'>
    <ion-item-sliding *ngFor="let item of items; let i=index" #slideItem>
      <ion-item nopadding [ngClass]="i%2!=0 ? 'odd':'even'" (press)="viewDetails(item)">
        <ion-row>
          <ion-col col-3 >
            <ion-avatar slot="start">
              <img [src]="item.picURL" (error)="getMissingImage($event, item)">
            </ion-avatar>
          </ion-col>
          <ion-col col-6 text-wrap>
            <h2> {{item.fullName}}</h2><br>
          </ion-col>
          <ion-col col-3>
            <br> {{item.total}}
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


  <ion-list *ngIf='objClass=="SEMESTERS" || objClass=="TONTINES"'>
    <ion-item-sliding *ngFor="let item of items; let i=index" #slideItem>
      <ion-item nopadding [ngClass]="i%2!=0 ? 'odd':'even'" (press)="viewDetails(item)">
        <ion-row>
          <ion-col col-6 text-wrap>
            <h2> {{item}}</h2>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf='objClass=="SESSIONS"'>
    <ion-item-sliding *ngFor="let item of items; let i=index" #slideItem>
      <ion-item nopadding [ngClass]="i%2!=0 ? 'odd':'even'" (press)="viewDetails(item)">
        <ion-row>
          <ion-col col-6 text-wrap>
            <h2> {{item.uid}}</h2>
          </ion-col>
          <ion-col col-6>
            <ion-row>
              <ion-col col-8> TOTAL IN</ion-col>
              <ion-col col-4> {{item.total_in}} </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-8> TOTAL OUT</ion-col>
              <ion-col col-4> {{item.total_out}} </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  
</ion-content> 