<ion-header>
  <ion-navbar>
    <ion-title>tabcotise</ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items.members; let i=index" #slideItem>
      <ion-item [ngClass]="i%2!=0 ? 'odd':'even'" (press)="contextMenu1(item.details)">
        <ion-row>
          <ion-col col-2 >
            <ion-avatar slot="start">
              <img [src]="item.details.picURL" (error)="getMissingImage($event, item.details)">
            </ion-avatar>
          </ion-col>
          <ion-col col-5 text-wrap>
            <h2> {{item.details.fullName}}</h2><br>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let tontine of items.tontine; let j=index">
          <b>{{tontine.uid}}</b>
          <ion-grid >
            <ion-row *ngFor="let cotiz of item.tontines[tontine.uid]; let k=index"  (press)="contextMenu2(i, j, k)">
              <ion-col col-1 align-self-start> <b>#{{k+1}}.</b> </ion-col>
              <ion-col col-3> [ {{cotiz.total / tontine.uid}} / {{items.details.semester.nb_sessions}} ]  </ion-col>
              <ion-col col-2> {{cotiz.paid}} </ion-col>
              <ion-col col-3> <button ion-button [disabled]="readOnlySession" (click)="contribute(i, j, k, true)"> PAY </button> </ion-col>
              <ion-col col-3> <button ion-button [disabled]="readOnlySession" (click)="contribute(i, j, k, false)"> CLEAR </button> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>