<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/cameroun_carte.gif">
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col col-5>
        <button ion-button large round (click)="openMembersPage()">
          <ion-icon style="zoom:2" name="contacts"></ion-icon>
          <!-- <ion-img height="80" width="80" src="../../assets/imgs/members.jpeg"></ion-img> -->
        </button>
        <br>
        {{ 'MEMBERS' | translate  | titlecase }}
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <button ion-button large round (click)="openPage('TONTINES')">
          <ion-icon style="zoom:2" name="albums"></ion-icon>
        </button>
        <br>
        {{ 'TONTINES' | translate | titlecase }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <button ion-button large round (click)="openPage('SEMESTERS')">
          <ion-icon style="zoom:2" name="calendar"></ion-icon>
        </button>
        <br>
        {{ 'SEMESTERS' | translate | titlecase }}
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <button ion-button large round (click)="openPage('PARTICIPANTS')">
          <ion-icon style="zoom:2" name="infinite"></ion-icon>
        </button>
        <br>
        {{ 'PARTICIPANTS' | translate | titlecase }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <button ion-button large round (click)="openPage('CHARGES')">
          <ion-icon style="zoom:2" name="barcode"></ion-icon>
        </button>
        <br>
        {{ 'CHARGES' | translate | titlecase }}
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <button ion-button large round (click)="openPage('SESSIONS')">
          <ion-icon style="zoom:2" name="pin"></ion-icon>
        </button>
        <br>
        {{ 'SESSIONS' | translate | titlecase }}
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
  
<ion-footer></ion-footer>