<ion-header>

  <ion-navbar>
    <ion-title>tabsession</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let itemTotal of items.allTotals">
      <ion-row>
        <ion-col col-3>{{itemTotal.designation}}:</ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-2>{{itemTotal.contributed}}</ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-2>{{itemTotal.paid_out}}</ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-2>{{itemTotal.recovered}}</ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col col-5>XTRA INCOME</ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <ion-input type="number" [(ngModel)]="xtraTotal.recovered"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>XTRA EXPENSES</ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5>
        <ion-input type="number" [(ngModel)]="xtraTotal.paid_out"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>ALL IN</ion-col>
      <ion-col col-2>{{ items.details.all_In }}</ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-3>ALL OUT</ion-col>
      <ion-col col-2>{{ items.details.all_out }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col col-3>
      <button ion-button (click)="endSession()"> EXIT </button>
    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-4>
      <button ion-button [disabled]="readOnlySession" (click)="saveSession()"> SAVE SESSION </button>
    </ion-col>
    <ion-col col-1></ion-col>
    <ion-col col-3>
      <button ion-button [disabled]="readOnlySession" (click)="resetSession()"> RESET </button>
    </ion-col>
  </ion-row>
  
</ion-footer>