<ion-header>
  <ion-navbar>
    <ion-title>tabbank</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items.members; let i=index" #slideItem>
      <ion-item nopadding [ngClass]="i%2!=0 ? 'odd':'even'" (press)="viewDetails(item)">
        <ion-row>
          <ion-col col-2 >
            <ion-avatar slot="start">
              <img [src]="item.details.picURL" (error)="getMissingImage($event, item.details)">
            </ion-avatar>
          </ion-col>
          <ion-col col-5 text-wrap>
            <h2> {{item.details.fullName}}</h2>
          </ion-col>
          <ion-col col-5>
            {{ 'AMOUNT' | translate | uppercase }} : {{ items.members[i].bank.paid }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>  </ion-col>
          <ion-col col-5> {{ 'TOTAL' | translate | uppercase }}: {{item.bank.total}} </ion-col>
          <ion-col col-5> <button ion-button [disabled]="readOnlySession" (click)="payBank(i)">PAY</button> </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>

