<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ADD_EDIT' | translate | titlecase }} {{ objClass | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.uid }} </ion-label>

  <ion-list *ngIf='objClass=="unknown"'>
    <ion-item>
      <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.id }} </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-select [(ngModel)]="expense" >
        <ion-option value="false">Expense</ion-option>
        <ion-option value="true">Revenue</ion-option>
      </ion-select>
      <ion-label> Transaction type </ion-label>
    </ion-item> -->
    <ion-item>
      <ion-label floating>Surname</ion-label>
      <ion-input type="text" [(ngModel)]="item.surname" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>First name</ion-label>
      <ion-input type="text" [(ngModel)]="item.firstName" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Birth Place</ion-label>
      <ion-input type="text" [(ngModel)]="item.birthPlace" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>birth Date </ion-label>
        <ion-datetime max='2100'  pickerFormat="DD/MMM/YYYY [HH:mm]" displayFormat="DD/MM/YYYY - HH:mm " [(ngModel)]="bDate" ></ion-datetime>
    </ion-item>

    <!-- <ion-item *ngIf='isCredit===true'>
      <ion-label>Due date</ion-label>
      <ion-datetime pickerFormat="DD MMM YYYY HH mm " displayFormat="DD/MM/YYYY - HH:mm " [(ngModel)]="dateDue" name="edtDueDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf='isCredit===true'>
      <ion-label floating>Balance</ion-label>
      <ion-input type="number" [(ngModel)]="item.balance" id="edtBalance"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label floating>Account</ion-label>
      <ion-select [(ngModel)]="account" (ionChange)="changedAccount(account)">
        <ion-option *ngFor="let account of allAccounts; let idx = index" selected="{{(idx==initAcc).toString()}}" [value]="account.designation">{{account.designation}} [{{account.currency}} {{account.balance}}] </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating >Category</ion-label>
      <ion-select [(ngModel)]="category" (ionChange)="changedCategory(category)">
        <ion-option *ngFor="let category of allCategories" [value]="category.designation">{{category.designation}} </ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label floating>email</ion-label>
      <ion-input type="text" [(ngModel)]="item.email" ></ion-input>
    </ion-item>
  </ion-list>

  <!-- ======================
        SEMESTERS INPUT FORM
       ====================== -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate *ngIf='objClass=="SEMESTERS"'> 
    <ion-item>
      <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.id }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> {{ 'REGDATE' | translate | titlecase }} </ion-label>
      <ion-datetime max='2100' formControlName="anyDate" pickerFormat="DD/MMM/YYYY" displayFormat="DD / MM / YYYY" ></ion-datetime>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.anyDate.valid && formGroup.controls.anyDate.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
  </form>

  <!-- ======================
        TONTINES INPUT FORM
       ====================== -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate *ngIf='objClass=="TONTINES"'> 
    <ion-item>
      <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.id }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> {{ 'AMOUNT' | translate | titlecase }} </ion-label>
      <ion-input type="number" formControlName="amount"
      [class.invalid]="!formGroup.controls.amount.valid && formGroup.controls.amount.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.amount.valid && formGroup.controls.amount.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
    <ion-item>
      <ion-label> {{ 'TAX' | translate | titlecase }} </ion-label>
      <ion-input type="number" formControlName="tax"
      [class.invalid]="!formGroup.controls.tax.valid && formGroup.controls.tax.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.tax.valid && formGroup.controls.tax.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
    <ion-item>
      <ion-label floating>{{ 'COMMENT' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="notes"
      [class.invalid]="!formGroup.controls.notes.valid && formGroup.controls.notes.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.notes.valid && formGroup.controls.notes.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
  </form>

  <!-- =========================
        PARTICIPANTS INPUT FORM
       ========================== -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate *ngIf='objClass=="PARTICIPANTS"'> 
    <ion-item>
      <ion-label> {{ 'SEMESTERS' | translate | titlecase }} </ion-label>
      <ion-select formControlName="semester" >
        <ion-option *ngFor="let semester of allSemesters; let idx = index" [value]="semester">{{semester}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.semester.valid && formGroup.controls.semester.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>
        
    <ion-item>
      <ion-label> {{ 'AMOUNT' | translate | titlecase }} </ion-label>
      <ion-select formControlName="amount" >
        <ion-option *ngFor="let tontine of allTontines; let idx = index" [value]="tontine">{{tontine}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.amount.valid && formGroup.controls.amount.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'MEMBER' | translate | titlecase }} </ion-label>
      <ion-select formControlName="member" >
        <ion-option *ngFor="let member of allMembers; let idx = index" [value]="member.uid">{{member.fullName}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.member.valid && formGroup.controls.member.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>
  </form>


  <!-- =========================
        CHARGES INPUT FORM
       ========================== -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate *ngIf='objClass=="CHARGES"'> 
   
    <ion-item >
      <ion-label> {{ 'DESIGNATION' | translate | titlecase }} </ion-label>
      <ion-input type="text" formControlName="designation"
        [class.invalid]="!formGroup.controls.designation.valid && formGroup.controls.designation.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.designation.valid && formGroup.controls.designation.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
   
    <ion-item>
      <ion-label> {{ 'AMOUNT' | translate | titlecase }} </ion-label>
      <ion-select  formControlName="amounttype">
        <ion-option value='0'>{{ 'ALL_MEMBERS' | translate | titlecase }} </ion-option>
        <ion-option value='1'>{{ 'INDIVIDUAL' | translate | titlecase }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.amounttype.valid && formGroup.controls.amounttype.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>
    
    <ion-item>
      <ion-label> {{ 'VALUE' | translate | titlecase }} </ion-label>
      <ion-input type="number" formControlName="amount"
        [class.invalid]="!formGroup.controls.amount.valid && formGroup.controls.amount.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.amount.valid && formGroup.controls.amount.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item *ngIf="item.singleAmount===true">
      <ion-label> {{ 'MEMBER' | translate | titlecase }} </ion-label>
      <ion-select  formControlName="membertype">
        <ion-option value=0>{{ 'ALL_MEMBERS' | translate | titlecase }} </ion-option>
        <ion-option value=1>{{ 'INDIVIDUAL' | translate | titlecase }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.membertype.valid && formGroup.controls.membertype.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>
    
    <ion-item *ngIf="!item.allMembers">
      <ion-label> {{ 'SELECT' | translate | titlecase }} </ion-label>
      <ion-select formControlName="members" multiple="true">
        <ion-option *ngFor="let member of allMembers; let idx = index" [value]="member.uid">{{member.fullName}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.members.valid && formGroup.controls.members.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>

    <ion-item >
      <ion-label> {{ 'COMMENT' | translate | titlecase }} </ion-label>
      <ion-input type="text" formControlName="comment"
        [class.invalid]="!formGroup.controls.comment.valid && formGroup.controls.comment.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.comment.valid && formGroup.controls.comment.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
  </form>
  
  <!-- =========================
        SESSIONS INPUT FORM
       ========================== -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate *ngIf='objClass=="SESSIONS"'> 
    <ion-item>
      <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.id }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-label> {{ 'DATE' | translate | titlecase }} </ion-label>
      <ion-datetime max='2100' max='2100' formControlName="anyDate" pickerFormat="DD/MMM/YYYY" displayFormat="DD / MM / YYYY" ></ion-datetime>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.anyDate.valid && formGroup.controls.anyDate.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-5>
      <ion-buttons begin>
        <button ion-button full (click)="addItem()" [disabled]="!(formGroup.valid && btnSaveOn)">Add</button>
      </ion-buttons>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-5>
      <ion-buttons end>
        <button ion-button full (click)="goBack(false)">Cancel</button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-footer>