<ion-header>

  <ion-navbar>
    <ion-title>viewer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf='objClass=="MEMBERS"'>
    <ion-item>
      <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.uid }} </ion-label>
    </ion-item>
    <ion-item>
      <img [src]="item.picURL" (error)="getMissingImage($event, item)">
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-5> <p>{{ 'FULLNAME' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.fullName | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'STATUS' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7 *ngIf='item.active===true'> <h2> {{'ACTIVE' | titlecase}} </h2> </ion-col>
        <ion-col col-7 *ngIf='item.active===false'> <h2> {{'INACTIVE' | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'GENDER' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7 *ngIf='item.gender==="M"'> <h2> {{'MALE' | titlecase}} </h2> </ion-col>
        <ion-col col-7 *ngIf='item.gender==="F"'> <h2> {{'FEMALE' | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'SURNAME' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.surname | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'FIRSTNAME' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.firstName | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'OCCUPATION' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.occupation | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'ADDRESS' | translate | titlecase }} {{ 'LOCAL'| translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.addressLocal | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'ADDRESS'| translate | titlecase }} {{ 'HOME2'| translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.addressHome | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'EMAIL' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.email | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'PHONE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.phone }} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'BIRTHDATE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.birthDate | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'BIRTHPLACE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.birthPlace | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'FATHER' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.father | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'MOTHER' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.mother | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'SPOUSE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.spouse | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'CHILDREN' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.children }} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'CONTACT' | translate | titlecase }} {{ 'LOCAL'| translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.contactLocal | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'CONTACT'| translate | titlecase }} {{ 'HOME2'| translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.contactHome | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'REGDATE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.regDate | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'COMMENT' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.full?.comment | titlecase}} </h2> </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>

    </ion-item>
  </ion-list>


  <ion-list *ngIf='objClass=="SEMESTERS"'>
    <ion-item>
      <ion-label ng-if='undefined!==item?.uid'> ID: {{ item?.uid }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-5> <p>{{ 'YEAR' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.year | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'SEMESTER' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.semester | titlecase}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'TOTAL_IN' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item?.total_in }} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'TOTAL_OUT' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item?.total_out }} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'BALANCE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item?.balance }} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'REPORT' | translate | titlecase }} :</p> </ion-col>
        <ion-col col-7> <h2> {{item?.report}} </h2> </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-list *ngIf='objClass=="TONTINES"'>
    <ion-item>
      <ion-label ng-if='undefined!==item?.uid'> ID: {{ item?.uid }} </ion-label>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-5> <p>{{ 'AMOUNT' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.uid}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'TAX' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.tax}} </h2> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> <p>{{ 'ACTIVE' | translate | titlecase }}:</p> </ion-col>
        <ion-col col-7> <h2> {{item.active }} </h2> </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <ion-list *ngIf='objClass=="CHARGES"'>
    <h2>Member: <b> {{item.fullName}} </b></h2>
    <div *ngIf="viewCheck"><b> Budget: </b>  {{item.budget}} </div>
    <ion-item *ngFor="let charge of item.charges; let idx=index">
      <ion-row>
        <ion-col col-8> <b> {{charge.designation}} </b> </ion-col>
        <ion-col col-4> {{charge.date}} </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> amount: {{charge.amount}} </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-6 *ngIf="viewCheck">
          remainder: {{charge.remainder}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5> balance: {{charge.balance}} </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-6 *ngIf="viewCheck">
            <button ion-button (click)="payCharge(idx)"> PAY </button>
            <button ion-button (click)="resetCharge(idx)"> RESET </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-row *ngIf="viewCheck">
    <ion-col col-5>
      <button ion-button (click)="collectParticipant()"> OK </button>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-5>
      <button ion-button (click)="goBack()"> CANCEL </button>
    </ion-col>
  </ion-row>
  <button [disabled]="viewCheck" ion-button full (click)="goBack()">OK</button>
</ion-footer>