<ion-header>
  <ion-navbar>
    <ion-title>{{ 'ADD_EDIT' | translate | titlecase }} {{ objClass | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-label ng-if='undefined!==item?.id'> ID: {{ item?.uid }} </ion-label>

  <!-- ========================= -->
  <!-- === FORM INPUT MEMBER === -->
  <!-- ========================= -->
  <form [formGroup]="formGroup" (submit)="addItem()" novalidate>    

    <ion-item>
      <ion-label floating>{{ 'SURNAME' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="surname"
      [class.invalid]="!formGroup.controls.surname.valid && formGroup.controls.surname.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.surname.valid && formGroup.controls.surname.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'FIRSTNAME' | translate | titlecase }}</ion-label>
      <ion-input type="text"  formControlName="firstName"
      [class.invalid]="!formGroup.controls.firstName.valid && formGroup.controls.firstName.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.firstName.valid && formGroup.controls.firstName.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'GENDER' |translate | titlecase }} </ion-label>
      <ion-select formControlName="gender"  >
        <ion-option value="M"> {{ 'MALE' | translate | titlecase }} </ion-option>
        <ion-option value="F"> {{ 'FEMALE' | translate | titlecase }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.gender.valid && formGroup.controls.gender.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'BIRTHDATE' | translate | titlecase }} </ion-label>
      <ion-datetime max='2100' formControlName="birthDate" pickerFormat="DD/MMM/YYYY" displayFormat="DD / MM / YYYY" ></ion-datetime>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.birthDate.valid && formGroup.controls.birthDate.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'BIRTHPLACE' | translate | titlecase }}</ion-label>
      <ion-input type="text"  formControlName="birthPlace"
      [class.invalid]="!formGroup.controls.birthPlace.valid && formGroup.controls.birthPlace.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.birthPlace.valid && formGroup.controls.birthPlace.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'EMAIL' | translate | titlecase }}</ion-label>
      <ion-input type="text"  formControlName="email"
      [class.invalid]="!formGroup.controls.email.valid && formGroup.controls.email.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.email.valid && formGroup.controls.email.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'PHONE' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="phone"
        [class.invalid]="!formGroup.controls.phone.valid && formGroup.controls.phone.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.phone.valid && formGroup.controls.phone.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'OCCUPATION' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="occupation"
          [class.invalid]="!formGroup.controls.occupation.valid && formGroup.controls.occupation.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
        *ngIf="!formGroup.controls.occupation.valid && formGroup.controls.occupation.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'FATHER' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="father"
      [class.invalid]="!formGroup.controls.father.valid && formGroup.controls.father.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.father.valid && formGroup.controls.father.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'MOTHER' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="mother"
      [class.invalid]="!formGroup.controls.mother.valid && formGroup.controls.mother.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.mother.valid && formGroup.controls.mother.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'SPOUSE' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="spouse"
      [class.invalid]="!formGroup.controls.spouse.valid && formGroup.controls.spouse.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.spouse.valid && formGroup.controls.spouse.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'CHILDREN' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="children"
      [class.invalid]="!formGroup.controls.children.valid && formGroup.controls.children.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.children.valid && formGroup.controls.children.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'ADDRESS' | translate | titlecase }} : {{ 'HOME2' | translate }} </ion-label>
      <ion-input type="text" formControlName="addressHome"
      [class.invalid]="!formGroup.controls.addressHome.valid && formGroup.controls.addressHome.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.addressHome.valid && formGroup.controls.addressHome.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'ADDRESS' | translate | titlecase }} : {{ 'LOCAL' | translate }} </ion-label>
      <ion-input type="text" formControlName="addressLocal"
      [class.invalid]="!formGroup.controls.addressLocal.valid && formGroup.controls.addressLocal.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.addressLocal.valid && formGroup.controls.addressLocal.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'CONTACT' | translate | titlecase }} : {{ 'HOME2' | translate }} </ion-label>
      <ion-input type="text" formControlName="contactHome"
      [class.invalid]="!formGroup.controls.contactHome.valid && formGroup.controls.contactHome.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.contactHome.valid && formGroup.controls.contactHome.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'CONTACT' | translate | titlecase }} : {{ 'LOCAL' | translate }} </ion-label>
      <ion-input type="text" formControlName="contactLocal"
      [class.invalid]="!formGroup.controls.contactLocal.valid && formGroup.controls.contactLocal.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.contactLocal.valid && formGroup.controls.contactLocal.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'REGDATE' | translate | titlecase }} </ion-label>
      <ion-datetime max='2100' formControlName="regDate" pickerFormat="DD/MMM/YYYY" displayFormat="DD / MM / YYYY" ></ion-datetime>
    </ion-item>
    <ion-item class="error-message" 
          *ngIf="!formGroup.controls.regDate.valid && formGroup.controls.regDate.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label> {{ 'STATUS' |translate | titlecase }} </ion-label>
      <ion-select formControlName="active" >
        <ion-option value="1"> {{ 'ACTIVE' | translate | titlecase }} </ion-option>
        <ion-option value="0"> {{ 'INACTIVE' | translate | titlecase }} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.active.valid && formGroup.controls.active.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'REQ_SELECTION' | translate }}
      </p>
    </ion-item>

    <ion-item>
      <ion-label floating>{{ 'COMMENT' | translate | titlecase }}</ion-label>
      <ion-input type="text" formControlName="comment"
      [class.invalid]="!formGroup.controls.comment.valid && formGroup.controls.comment.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!formGroup.controls.comment.valid && formGroup.controls.comment.touched">
      <p>
        {{ 'ERROR' | translate | titlecase }} : {{ 'INVALID_INPUT' | translate }}
      </p>
    </ion-item>

    <!-- <button ion-button block type="submit" [disabled]="!formGroup.valid">
        Add item
      </button> -->
  </form>

  <button ion-button (click)="getPicture()">{{ 'SELECT_PICTURE' | translate | uppercase }}</button>
  <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
  <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + picURL + ')'">
  </div>
  <ion-label> {{ picURL }} </ion-label>
  <div class="item-profile2" text-center [style.background-image]="'url(' + picURL2 + ')'">
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-5>
      <ion-buttons begin>
        <button ion-button full (click)="addItem()" [disabled]="!(formGroup.valid && btnSaveOn)">Add</button>
      </ion-buttons>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-5>
      <ion-buttons end>
        <button ion-button full (click)="goBack()">Cancel</button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-footer>