page-memberform {
  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }
  .item-profile2 {
    width: 150px;
    background-position: center center;
    background-size: cover;
    height: 150px;
  }  

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
